# Ignore everything by default
*

# Keep these files/dirs
!.gitignore
!README.md

# Unignore the directories themselves *and* all their contents
!nvim/
!nvim/**

!tmux/
!tmux/**
tmux/plugins/

!karabiner/
!karabiner/**
karabiner/automatic_backups
